@import "tailwindcss";

@theme {
  --color-brand-50: #eef2ff;
  --color-brand-100: #e0e7ff;
  --color-brand-500: #6366f1;
  --color-brand-600: #4f46e5;
  --color-brand-700: #4338ca;
  --color-brand-900: #312e81;

  --color-dark-800: #1e1e2f;
  --color-dark-900: #12121c;

  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-dark-900 text-white font-sans antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-brand-500 to-purple-500;
  }
}
